
@{
	ViewBag.Title = "ListUser";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>La liste des utilisateurs</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
