@model List<Portofolio.ModelsView.UserModelView>
@{
	ViewBag.Title = "ListUser";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des Utilisateurs</h2>
<p>
	@Html.ActionLink("Nouvel Utilisateur", "Register", "Account", null, new { @class = "btn btn-primary" })
</p>
<div id="user-alert">
</div>
<div class="container">
	<div class="row left">
		<table id="users" class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Identifiant</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
					@foreach (var user in Model)
					{
						Html.RenderPartial("_userpartial", user);
					}
			</tbody>
		</table>

	</div>
</div>
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
	$(document).ready(function () {
		//supprimer user
		$(document).on("click", "button[name='supprimer-user']", function (e) {
          var removeConfirmed = confirm("Are you sure that you want to delete User");
          if (removeConfirmed) {
		   e.preventDefault();
		     $.ajax({
             type: "POST",
             url: '@Url.Action("SupprimerUser", "Account")',
		     data: "id=" + $(this).parents("tr").first().attr("id").replace("user-", ""),
		     context: this
		     })
		     .done(function () {
	         $(this).parents("tr").fadeOut("slow", function () { $(this).remove(); });
		     })
		     .fail(function (data) {
		     $("#user-alert").append(data.responseText);
		     });
		   }
		});

	});

</script>


