
@{
    ViewBag.Title = "Login";
}

    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-9 col-md-9 col-lg-5 col-xl-4">
                <div class="card card-signin my-1">
                    <div class="card-body">
                        <form class="form-signin">
                            <h1 class="h3 mb-3 font-weight-normal">Authentification </h1>
                            <div class="form-label-group">
                                <label for="inputEmail">Username </label>
                                <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                            </div>

                            <div class="form-label-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            </div>

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn  btn-primary" type="submit">Sign in</button>
                            <p class="mt-5 mb-3 text-muted text-center"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>